@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #000000;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 30px 0;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #1a39c4;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;

}


button:hover {
    background: #e63232;
}


ul {
    list-style: none;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 10px;
    justify-content: center;
}

li {
    border: #e63232 2px solid;
    padding: 10px;
    border-radius: 10px;
}

img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.5s ease;
}

p {
    font-size: 18px;
    color: #fff;
}

.item-price {
    font-weight: bold;
    color: #e63232;
}

